---
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
    return [
        { params: { proyecto: "tbo" } },
        { params: { proyecto: "carecare" } },
        { params: { proyecto: "velada" } },
    ];
}
const { proyecto } = Astro.params;
---

<div>¡Buen chico, {proyecto}!</div>
<!-- <Layout title={proyecto}>
    <main>
        <h1>{proyecto}</h1>
    </main>
</Layout> -->

<!-- {page.currentPage}</h1> -->
<!--<ul>
  {page.data.map(({ astronaut }) => <li>{astronaut}</li>)}
</ul>
{page.url.prev ? <a href={page.url.prev}>Anterior</a> : null}
{page.url.next ? <a href={page.url.next}>Siguiente</a> : null} -->
